<form class="formBody">
    <h1>Registrate!</h1><br>
    <hr style="width:90%"><br>

    <input class="inputForm" id="name" placeholder="Nombre"><br>

    <input class="inputForm" id="surname" placeholder="Apellido"><br>

    <input class="inputForm" id="email" placeholder="Email"><br>

    <input class="inputForm" id="url" placeholder="URL"><br>

    <input class="inputForm" id="pass" placeholder="Contraseña"><br>

    <input class="inputForm" id="pass2" placeholder="Repetir Contraseña"><br>

    <button class="btnRegister">Registrarse</button>
</form>